.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-product-1 {
  min-height: 587px;
  margin-bottom: 59px;
  height: auto;
  margin-top: 59px;
}

.u-section-1 .u-container-layout-1 {
  padding: 2px 30px 0;
}

.u-section-1 .u-image-1 {
  width: 538px;
  height: 431px;
  margin: 1px auto 0 1px;
}

.u-section-1 .u-group-1 {
  width: 540px;
  min-height: 431px;
  height: auto;
  margin: -431px 0 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-product-price-1 {
  margin: 30px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-product-1 {
    margin-top: 148px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 520px;
    height: 417px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    width: 520px;
    margin-top: -417px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-product-1 {
    margin-top: 292px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 257px;
  }

  .u-section-1 .u-group-1 {
    width: 320px;
    margin-top: -257px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 554px;
}

.u-section-2 .u-product-1 {
  min-height: 494px;
  margin-bottom: 30px;
  height: auto;
  margin-top: 30px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 538px;
  height: 431px;
  margin: 3px auto 0 1px;
}

.u-section-2 .u-group-1 {
  width: 540px;
  min-height: 431px;
  height: auto;
  margin: -431px auto 0 540px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-product-price-1 {
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  background-image: none;
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    margin-left: 340px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    margin-left: 120px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    width: 520px;
    height: 417px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-1 {
    width: 520px;
    margin-top: -417px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    width: 320px;
    height: 257px;
  }

  .u-section-2 .u-group-1 {
    width: 320px;
    margin-top: -257px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 600px;
}

.u-section-3 .u-product-1 {
  min-height: 540px;
  margin-bottom: 30px;
  filter: none;
  height: auto;
  margin-top: 30px;
}

.u-section-3 .u-container-layout-1 {
  padding: 18px 30px;
}

.u-section-3 .u-image-1 {
  filter: none;
  width: 538px;
  height: 431px;
  margin: 15px auto 0 1px;
}

.u-section-3 .u-group-1 {
  width: 540px;
  min-height: 477px;
  height: auto;
  margin: -446px auto 0 540px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-product-price-1 {
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    inset: auto;
    margin-top: 60px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -507px;
    margin-left: 340px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    margin-left: 120px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    width: 520px;
    height: 417px;
    margin-top: 44px;
    margin-left: 0;
  }

  .u-section-3 .u-group-1 {
    width: 520px;
    margin-top: -461px;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    width: 320px;
    height: 257px;
    margin-top: 124px;
  }

  .u-section-3 .u-group-1 {
    width: 320px;
  }
}