 .u-section-1 {
  padding: 30px;
}

.u-section-1 .u-sheet-1 {
  min-height: 4068px;
}

.u-section-1 .u-products-1 {
  margin-top: 52px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 3757px;
  grid-gap: 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: 495px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-1 .u-product-price-1 {
  margin: 10px auto 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 49px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  height: 495px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-1 .u-product-price-2 {
  margin: 10px auto 0;
}

.u-section-1 .u-btn-2 {
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 49px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  height: 495px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-1 .u-product-price-3 {
  margin: 10px auto 0;
}

.u-section-1 .u-btn-3 {
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 49px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  height: 495px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-4 {
  margin: 20px auto 0;
}

.u-section-1 .u-product-price-4 {
  margin: 10px auto 0;
}

.u-section-1 .u-btn-4 {
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 49px auto 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-image-5 {
  height: 495px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-5 {
  margin: 20px auto 0;
}

.u-section-1 .u-product-price-5 {
  margin: 10px auto 0;
}

.u-section-1 .u-btn-5 {
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 49px auto 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-image-6 {
  height: 495px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-6 {
  margin: 20px auto 0;
}

.u-section-1 .u-product-price-6 {
  margin: 10px auto 0;
}

.u-section-1 .u-btn-6 {
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 49px auto 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-image-7 {
  height: 495px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-7 {
  margin: 20px auto 0;
}

.u-section-1 .u-product-price-7 {
  margin: 10px auto 0;
}

.u-section-1 .u-btn-7 {
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 49px auto 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-image-8 {
  height: 495px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-8 {
  margin: 20px auto 0;
}

.u-section-1 .u-product-price-8 {
  margin: 10px auto 0;
}

.u-section-1 .u-btn-8 {
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 49px auto 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-image-9 {
  height: 495px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-9 {
  margin: 20px auto 0;
}

.u-section-1 .u-product-price-9 {
  margin: 10px auto 0;
}

.u-section-1 .u-btn-9 {
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 49px auto 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px;
}

.u-section-1 .u-image-10 {
  height: 495px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-10 {
  margin: 20px auto 0;
}

.u-section-1 .u-product-price-10 {
  margin: 10px auto 0;
}

.u-section-1 .u-btn-10 {
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 49px auto 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px;
}

.u-section-1 .u-image-11 {
  height: 495px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-11 {
  margin: 20px auto 0;
}

.u-section-1 .u-product-price-11 {
  margin: 10px auto 0;
}

.u-section-1 .u-btn-11 {
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 49px auto 0;
}

.u-section-1 .u-container-layout-12 {
  padding: 30px;
}

.u-section-1 .u-image-12 {
  height: 495px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-12 {
  margin: 20px auto 0;
}

.u-section-1 .u-product-price-12 {
  margin: 10px auto 0;
}

.u-section-1 .u-btn-12 {
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 49px auto 0;
}

.u-section-1 .u-container-layout-13 {
  padding: 30px;
}

.u-section-1 .u-image-13 {
  height: 495px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-13 {
  margin: 20px auto 0;
}

.u-section-1 .u-product-price-13 {
  margin: 10px auto 0;
}

.u-section-1 .u-btn-13 {
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 49px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-products-1 {
    height: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 3098px;
  }

  .u-section-1 .u-btn-1 {
    border-style: solid;
  }

  .u-section-1 .u-btn-2 {
    border-style: solid;
  }

  .u-section-1 .u-btn-3 {
    border-style: solid;
  }

  .u-section-1 .u-btn-4 {
    border-style: solid;
  }

  .u-section-1 .u-btn-5 {
    border-style: solid;
  }

  .u-section-1 .u-btn-6 {
    border-style: solid;
  }

  .u-section-1 .u-btn-7 {
    border-style: solid;
  }

  .u-section-1 .u-btn-8 {
    border-style: solid;
  }

  .u-section-1 .u-btn-9 {
    border-style: solid;
  }

  .u-section-1 .u-btn-10 {
    border-style: solid;
  }

  .u-section-1 .u-btn-11 {
    border-style: solid;
  }

  .u-section-1 .u-btn-12 {
    border-style: solid;
  }

  .u-section-1 .u-btn-13 {
    border-style: solid;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 4983px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }
}