 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 3950px;
}

.u-section-1 .u-products-1 {
  grid-template-columns: repeat(6, auto);
  margin-top: 49px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 9.75px));
  min-height: 3186px;
  --gap: 13px;
  grid-auto-columns: calc(25% - 9.75px);
}

.u-section-1 .u-repeater-item-1 {
  background-image: none;
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: 304px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-1 .u-product-price-1 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-repeater-item-2 {
  background-image: none;
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  height: 304px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-1 .u-product-price-2 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-repeater-item-3 {
  background-image: none;
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  height: 304px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-1 .u-product-price-3 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-repeater-item-4 {
  background-image: none;
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  height: 304px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  background-position: 50% 50%;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-1 .u-product-price-4 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-repeater-item-5 {
  background-image: none;
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-image-5 {
  height: 304px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  background-position: 50% 50%;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-1 .u-product-price-5 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-repeater-item-6 {
  background-image: none;
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-image-6 {
  height: 304px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  background-position: 50% 50%;
}

.u-section-1 .u-text-6 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-1 .u-product-price-6 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-repeater-item-7 {
  background-image: none;
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-image-7 {
  height: 304px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  background-position: 50% 50%;
}

.u-section-1 .u-text-7 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-1 .u-product-price-7 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-7 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-repeater-item-8 {
  background-image: none;
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-image-8 {
  height: 304px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  background-position: 50% 50%;
}

.u-section-1 .u-text-8 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-1 .u-product-price-8 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-8 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-repeater-item-9 {
  background-image: none;
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-image-9 {
  height: 304px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  background-position: 50% 50%;
}

.u-section-1 .u-text-9 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-1 .u-product-price-9 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-9 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-repeater-item-10 {
  background-image: none;
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
}

.u-section-1 .u-container-layout-10 {
  padding: 30px;
}

.u-section-1 .u-image-10 {
  height: 304px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  background-position: 50% 50%;
}

.u-section-1 .u-text-10 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-1 .u-product-price-10 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-10 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-repeater-item-11 {
  background-image: none;
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
}

.u-section-1 .u-container-layout-11 {
  padding: 30px;
}

.u-section-1 .u-image-11 {
  height: 304px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  background-position: 50% 50%;
}

.u-section-1 .u-text-11 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-1 .u-product-price-11 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-11 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-repeater-item-12 {
  background-image: none;
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
}

.u-section-1 .u-container-layout-12 {
  padding: 30px;
}

.u-section-1 .u-image-12 {
  height: 304px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  background-position: 50% 50%;
}

.u-section-1 .u-text-12 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-1 .u-product-price-12 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-12 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-repeater-item-13 {
  background-image: none;
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
}

.u-section-1 .u-container-layout-13 {
  padding: 30px;
}

.u-section-1 .u-image-13 {
  height: 304px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  background-position: 50% 50%;
}

.u-section-1 .u-text-13 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-1 .u-product-price-13 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-13 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-repeater-item-14 {
  background-image: none;
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
}

.u-section-1 .u-container-layout-14 {
  padding: 30px;
}

.u-section-1 .u-image-14 {
  height: 304px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  background-position: 50% 50%;
}

.u-section-1 .u-text-14 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-1 .u-product-price-14 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-14 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-repeater-item-15 {
  background-image: none;
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
}

.u-section-1 .u-container-layout-15 {
  padding: 30px;
}

.u-section-1 .u-image-15 {
  height: 304px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  background-position: 50% 50%;
}

.u-section-1 .u-text-15 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-1 .u-product-price-15 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-15 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-repeater-item-16 {
  background-image: none;
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
}

.u-section-1 .u-container-layout-16 {
  padding: 30px;
}

.u-section-1 .u-image-16 {
  height: 304px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  background-position: 50% 50%;
}

.u-section-1 .u-text-16 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-1 .u-product-price-16 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-16 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-repeater-item-17 {
  background-image: none;
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
}

.u-section-1 .u-container-layout-17 {
  padding: 30px;
}

.u-section-1 .u-image-17 {
  height: 304px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  background-position: 50% 50%;
}

.u-section-1 .u-text-17 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-1 .u-product-price-17 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-17 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-repeater-item-18 {
  background-image: none;
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
}

.u-section-1 .u-container-layout-18 {
  padding: 30px;
}

.u-section-1 .u-image-18 {
  height: 304px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  background-position: 50% 50%;
}

.u-section-1 .u-text-18 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-1 .u-product-price-18 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-18 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-repeater-item-19 {
  background-image: none;
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
}

.u-section-1 .u-container-layout-19 {
  padding: 30px;
}

.u-section-1 .u-image-19 {
  height: 304px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  background-position: 50% 50%;
}

.u-section-1 .u-text-19 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-1 .u-product-price-19 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-19 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-repeater-item-20 {
  background-image: none;
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
}

.u-section-1 .u-container-layout-20 {
  padding: 30px;
}

.u-section-1 .u-image-20 {
  height: 304px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  background-position: 50% 50%;
}

.u-section-1 .u-text-20 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-1 .u-product-price-20 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-20 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-repeater-item-21 {
  background-image: none;
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
}

.u-section-1 .u-container-layout-21 {
  padding: 30px;
}

.u-section-1 .u-image-21 {
  height: 304px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  background-position: 50% 50%;
}

.u-section-1 .u-text-21 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-1 .u-product-price-21 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-21 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-repeater-item-22 {
  background-image: none;
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
}

.u-section-1 .u-container-layout-22 {
  padding: 30px;
}

.u-section-1 .u-image-22 {
  height: 304px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  background-position: 50% 50%;
}

.u-section-1 .u-text-22 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-1 .u-product-price-22 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-22 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-repeater-item-23 {
  background-image: none;
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
}

.u-section-1 .u-container-layout-23 {
  padding: 30px;
}

.u-section-1 .u-image-23 {
  height: 304px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  background-position: 50% 50%;
}

.u-section-1 .u-text-23 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-1 .u-product-price-23 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-23 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-repeater-item-24 {
  background-image: none;
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
}

.u-section-1 .u-container-layout-24 {
  padding: 30px;
}

.u-section-1 .u-image-24 {
  height: 304px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  background-position: 50% 50%;
}

.u-section-1 .u-text-24 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-1 .u-product-price-24 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-24 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  background-image: none;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-gap: 13px;
    min-height: 2627px;
  }

  .u-section-1 .u-btn-1 {
    padding-top: 11px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-btn-2 {
    padding-top: 11px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-btn-3 {
    padding-top: 11px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-btn-4 {
    padding-top: 11px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-btn-5 {
    padding-top: 11px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-btn-6 {
    padding-top: 11px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-btn-7 {
    padding-top: 11px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-btn-8 {
    padding-top: 11px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-btn-9 {
    padding-top: 11px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-btn-10 {
    padding-top: 11px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-btn-11 {
    padding-top: 11px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-btn-12 {
    padding-top: 11px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-btn-13 {
    padding-top: 11px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-btn-14 {
    padding-top: 11px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-btn-15 {
    padding-top: 11px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-btn-16 {
    padding-top: 11px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-btn-17 {
    padding-top: 11px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-btn-18 {
    padding-top: 11px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-btn-19 {
    padding-top: 11px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-btn-20 {
    padding-top: 11px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-btn-21 {
    padding-top: 11px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-btn-22 {
    padding-top: 11px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-btn-23 {
    padding-top: 11px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-btn-24 {
    padding-top: 11px;
    padding-bottom: 12px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 6.5px);
    grid-template-columns: repeat(2, calc(50% - 6.5px));
    min-height: 8049px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-21 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-22 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-23 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-24 {
    padding-left: 10px;
    padding-right: 10px;
  }
}